<style>
  #add-items {
    display: none;
    padding: 20px;
    overflow-y: auto;
    font-family: "Lato", sans-serif;
    font-size: large;

  }

  #uploadModel{
    border-radius: 5px;
    background-color: rgb(239, 217, 167);
  }
  #uploadFileAppearance {
    border: 1px solid;
    border-color: #495057;
    padding: 0.4rem 0.75rem 0.4rem;
    line-height: 1.5;
    border-radius: 5px;
    /* width: fit-content; */
    width:100%;
    margin-top: 20px;
    background-color: #ffffff;
  }
  /* upload model 的 input 顯示*/
  #uploadFileAppearance::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 0.4rem 0.75rem;
    content: "Browse";
    background-color: #e9ecef;
  }
  .image-preview-wrapper{
    padding: 10px;
  }
  #uploadBtn{
    background-color: #182e2e;
    font-size: large;
    color: #eee;
  }
  .wordCenter{
    text-align: center;
    margin-top: 1%;
    /* vertical-align: middle; */
  }
  .uploadLabel{
    font-size: 30px;
    font-weight: bolder;
    background-color: #182e2e;
    color: #e9ecef;
    border-radius: 25px;
    padding: 10px;
    
  }
  .Modeltype{
    margin-top: 20px;
  }
  
  #items-wrapper{
    margin-top: 1%;
    padding:2%;
    background-color: rgb(240, 209, 138);
  }

  .DeleteBtn{
    background-color: #71050F;
    color: #e9ecef;
  }
  
</style>
<!-- Add Items -->
<div id="add-items">
            
  <!-- recording -->
  <!-- <input type="file" id="recording" accept="mp3/*" /> -->
  <!-- <audio controls>
    <source src="horse.ogg" type="audio/ogg">
    <source src="../static/blueprint/itemInfo/record/song.mp3" type="audio/mpeg">
  </audio> -->
  <!-- 上傳 model -->
  <div id = "uploadModel" align="center">
    <!-- 用 table 排版 -->
  </br>
    <div><span class="uploadLabel">上傳模型</span></div>
    <table id = "uploadModelTable" >
      <!-- 單純上傳文件 -->
      <tr>
        <!-- mtl -->
        <td>
            <div class="col-6 col-md-3" id = "uploadFileAppearance">
              <input type="file" class="hide" id="mtl" accept=".mtl">
              <label for="mtl">upload mtl file</label>
            </div>
        </td>
        <!-- obj -->
        <td>
          <div class="col-6 col-md-3" id = "uploadFileAppearance">
            <input type="file" class="hide" id="obj" accept=".obj">
            <label for="obj">upload obj file</label>
          </div>
        </td>
      </tr>
      <!-- 可顯示圖片的欄位 -->
      <tr>
        <!-- texture -->
        <td>
            <label class="text-center mb-5 image-preview-wrapper" for="texture">
              <img src="../static/blueprint/other/uploadTexture.png" id="canvasTexture" alt="image-placehoder">
            </label>
            <input type="file" id="texture" class = "hide" accept="image/*" />
        </td>
        <!-- model appearance -->
        <td>
            <label class="text-center mb-5 image-preview-wrapper" for="thumbnail">
              <img src="../static/blueprint/other/uploadAppearance.png" id="canvasAppearance" alt="image-placehoder">
            </label>
            <input type="file" id="thumbnail" class = "hide" accept="image/*"/>
        </td>
      </tr>
    </table>
    <!-- 選擇類型 -->
    <div ><span class="uploadLabel">選擇模型放置類型</span></div>
    <div class="Modeltype">
      <input name="modelType-radio" type="radio" id="inlineRadio1" value="1">
      <label for="inlineRadio1">放在地板上的立體物</label>
      <input name="modelType-radio" type="radio" id="inlineRadio2" value="2">
      <label for="inlineRadio2">貼在牆上(海報、壁畫類)</label> <!-- 不會穿透牆 -->
      <input name="modelType-radio" type="radio" id="inlineRadio3" value="3">
      <label for="inlineRadio3">窗戶</label>  <!-- 會穿透牆 -->
      <input name="modelType-radio" type="radio" id="inlineRadio7" value="7">
      <label for="inlineRadio7">門</label>
      <!-- <input name="form-check-input" type="radio" id="inlineRadio8" value="8">
      <label class="form-check-label" for="inlineRadio8">地毯類</label> -->
    </div>
    <!-- 上傳檔案按鈕 -->
    <button id="uploadBtn" type="button" class="btn btn-default">upload model</button>
    <hr>
  </div>
  <div class="wordCenter"><span class="uploadLabel">模型總覽
    <span class="glyphicon glyphicon-triangle-bottom" style="margin-left:3px;"></span></span>
  </div>
  <div class="row" id="items-wrapper">

    <!-- Items added here by items.js -->
  </div>
</br>
</br>
</br>
</br>
  <!-- upload 3D model -->
</div>