version: '3'

services:
  app:
    build: ./flaskServer
    ports:
      - 5000:5000
    links:
      - mysql

  mysql:
    image: mysql:latest
    ports:
      - 3316:3306
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: dbadmin
      MYSQL_PASSWORD: dbadmin
      TZ: Asia/Taiwan
  
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: web_phpmyadmin
    ports:
      - 8080:80
    environment:
      # - PMA_ARBITRART = 1
      - PMA_HOST=mysql
      # - PMA_USER=root
      # - PMA_PASSWORD=12345678
    links:
      - mysql
    restart: always