<!-- model 資ㄉ資 -->
<style>
  #exampleIntro >.panel-default>.panel-heading{
    background-color: #93BFBF;
    color: #333333;

    /* font-weight: bolder; */
    font-size: 25px;
  }
  #exampleIntro >.panel-default>.panel-body{
    background-color:#EFD9A7;
    color: #333333;
    font-weight: bolder;
    font-size: 18px;
  }
  #exampleIntro >.panel-default>.panel-footer button{
    background-color:#71050F;
    color: #ffff;
    font-weight: bolder;
    font-size: 18px;
  }
  #IntroOrMove{
    margin: 10px;

  }
  #record{
    width: 100%;
    margin: 5px;
  }
  #itemInfoImageClose{
    display: none;
  }
  
</style>

<!-- itemInfo button -->
<div id="IntroOrMove">
  <button class="btn btn-block btn-danger">
    簡介
  </button>
</div>
<!-- ItemInfo -->
<div  id="exampleIntro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2 >
          <textarea class="form-control" id="exampleModalLabel"></textarea>
        </h2>
      </div>
      <div class="panel-body" style="background-color: #EFD9A7">
        <form>
          <div class="col-md-10">
            <label for="recipient-name" class="col-form-label">日期</label>
            <div  id='date1'>
              <input type="date" id="date" name="trip-start" class="form-control" min="1000-01-01" max="2222-12-31">
            </div>
            <!-- 天氣 -->
            <div class="col-md">
              <label for="message-text" class="col-form-label">天氣</label>
              <!-- <text id="weather" for="recipient-name" class="col-form-label"></text> -->
              <textarea class="form-control" id="weather"></textarea>
            </div>

            <!-- 心情描述 -->
            <div class="col-md">
              <label for="message-text" class="col-form-label">心情描述</label>
              <!-- <text id="message" for="recipient-name" class="col-form-label"></text> -->
              <textarea class="form-control" id="message"></textarea>
              <!-- <label for="message-text" class="col-form-label">圖片</label> -->
              <!-- <img id="image" width="200px" src = "../static/blueprint/other/photo.png"></text> -->
              <!-- <textarea class="form-control" id="message-text"></textarea>-->
            </div>
          </div>

          <!-- image -->
          <div class="col-md-12" style="margin-top: 10px;">
            <img id="image" src="" title="" for = "itemInfoPic" style="width:100%;max-width:150px">
            <input type="file" id="itemInfoPic" class = "hide" accept="image/*" />
            <!-- modal for enlarging image -->
            <div id="myModal">
              <span class="close" id="itemInfoImageClose">X</span>
              <img id="img01" style="max-width:500px;max-height:500px">
              <div id="caption"></div>
            </div>
          </div>
          <br/>
          <!-- audio -->
          <div class="col-md-12">
            <div class="col-md">
              <label for="recordName" class="col-form-label">音檔名字</label>
              <!-- <text id="weather" for="recipient-name" class="col-form-label"></text> -->
              <input type = "text" class="form-control" id="recordName">
            </div>
            <audio id="record" src="" for = "itemInfoRecord" controls></audio>
            <input type="file" id="itemInfoRecord" class = "hide" accept="audio/mpeg" />
              <!-- <source id="AudioSource"  type="audio/mpeg"> -->
          </div>
        </form>
      </div>
      <!-- FOOTER -->
      <div class="panel-footer">
        <button id="uploadImage" type="button" class="btn btn-primary">上傳圖片</button>
        <button id="uploadRecord" type="button" class="btn btn-primary" >上傳音檔</button>
        <button id="SaveBtn" type="button" class="btn btn-primary">儲存</button>
        <button id="CloseBtn" type="button" class="btn btn-secondary" >關閉</button>
      </div>
      <!-- FOOTER -->
  </div>
</div>
<!-- Context Menu -->
<div id="context-menu">
  <div>
    <h2 id="context-menu-name" class="lead"></h2>
  <div class="panel panel-default" id = "itemVolume">
    <div class="panel-heading">Adjust Size</div>
    <div class="panel-body" style="color: #333333">

      <div class="form form-horizontal" class="lead">
        <div class="form-group">
          <label class="col-sm-5 control-label">
              Width
          </label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="item-width">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">
            Depth 
          </label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="item-depth">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">
            Height
          </label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="item-height">
          </div>
        </div>
      </div>
      <small><span class="text-muted">Measurements in inches.</span></small>
    </div>
    <div class="panel-footer">
      <button class="btn btn-block btn-danger" id="context-menu-delete">
        <span class="glyphicon glyphicon-trash"></span> 
        Delete Item
      </button>

    </div>
  </div>
  <label><input type="checkbox" id="fixed" /> Lock in place</label>
  
  <br /><br />
  </div>
</div>


<script>
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  $("#image").click(function(){
    $("#myModal").show();
    $("#img01").attr("src",this.src);
    $("#caption").val(this.alt);
    console.log("image click")
    $("#itemInfoImageClose").show();
  });
  
  // Get the <span> element that closes the modal
  // var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  $("#itemInfoImageClose").click(function() { 
    $("#myModal").hide();
    $("#itemInfoImageClose").hide();
  });
  
  // user clicks the item and show the information of item
  $("#IntroOrMove").click(function(){
    $("#exampleIntro").show();
  });
  // 模型資訊 modal 點選關閉 => 音樂停止並隱藏模型資訊
  $("#CloseBtn").click(function () {
    console.log("Audio")
    var oAudio = document.getElementById('record');
    oAudio.pause();
    $("#exampleIntro").hide();
  });
  // 模型資訊顯現
  function itemInfoShow(){
    $("#itemInfo").addClass("col-xs-4");
    $("#main").removeClass("col-xs-12").addClass("col-xs-8");
    $("#itemInfo").show();
  }
  // 模型資訊隱藏
  function itemInfoHide(){
    $("#itemInfo").hide();
    $("#itemInfo").removeClass("col-xs-4");
    $("#main").removeClass("col-xs-8").addClass("col-xs-12");
  }
</script>

