
<!-- Floor textures -->
<div id="floorTexturesDiv" style="display:none; padding: 0 20px">
  <div class="panel panel-default">
    <div class="panel-heading">Adjust Floor</div>
    <div class="panel-body" style="color: #333333">

      <div class="col-sm-6" style="padding: 3px">
        <a href="#" class="thumbnail texture-select-thumbnail" texture-url="./static/blueprint/rooms/textures/light_fine_wood.jpg" texture-stretch="false" texture-scale="300">
          <img alt="Thumbnail light fine wood" src="./static/blueprint/rooms/thumbnails/thumbnail_light_fine_wood.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Wall Textures -->
<div id="wallTextures" style="display:none; padding: 0 20px">
  <div class="panel panel-default">
    <div class="panel-heading">Adjust Wall</div>
    <div class="panel-body" style="color: #333333">
      <div class="col-sm-6" style="padding: 3px">
        <a href="#" class="thumbnail texture-select-thumbnail" texture-url="./static/blueprint/rooms/textures/marbletiles.jpg" texture-stretch="false" texture-scale="300">
          <img alt="Thumbnail marbletiles" src="./static/blueprint/rooms/thumbnails/thumbnail_marbletiles.jpg" />
        </a>
      </div>
      <div class="col-sm-6" style="padding: 3px">
        <a href="#" class="thumbnail texture-select-thumbnail" texture-url="./static/blueprint/rooms/textures/wallmap_yellow.png" texture-stretch="true" texture-scale="">
          <img alt="Thumbnail wallmap yellow" src="./static/blueprint/rooms/thumbnails/thumbnail_wallmap_yellow.png" />
        </a>
      </div>
      <div class="col-sm-6" style="padding: 3px">
        <a href="#" class="thumbnail texture-select-thumbnail" texture-url="./static/blueprint/rooms/textures/light_brick.jpg" texture-stretch="false" texture-scale="100">
          <img alt="Thumbnail light brick" src="./static/blueprint/rooms/thumbnails/thumbnail_light_brick.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>