# cache
myModule/__pycache__
# test
myModule/test.py
test.py
# blueprint
static/blueprint/node_modules
static/blueprint/models
# static/blueprint/itemInfo
static/blueprint/js/lib
static/blueprint/js/src
static/blueprint/package-lock.json
static/blueprint/package.json
static/blueprint/js/otherSource
src
lib
dist
# test
static/blueprint/test
static/blueprint/myModule/test.py
