# cache
myModule/__pycache__
# test
myModule/test.py
test.py
# other package
static/blueprint/node_modules
static/blueprint/models/source
static/blueprint/models/textures
static/blueprint/js/lib
static/blueprint/js/src
static/blueprint/package-lock.json
static/blueprint/package.json
static/blueprint/js/otherSource
src
lib
dist