<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>

    <link href="./static/blueprint/css/bootstrap.css" rel="stylesheet">
    <link href="./static/blueprint/css/example.css" rel="stylesheet">
     <script src="./static/blueprint/node_modules/three/three.js"></script>
    <script src="./static/blueprint/js/three.min.js"></script>
    <script src="./static/blueprint/js/blueprint3d.js"></script>

    <script src="./static/blueprint/js/jquery.js"></script> 
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script> -->
    <script src="./static/blueprint/js/bootstrap.js"></script>
    
    <script src="./static/blueprint/js/items.js"></script>
    <script src="./static/blueprint/js/example.js"></script> 

    <script src="./static/blueprint/js/OBJLoader.js"></script>
    
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
  </head>

  <body>
    {% include './Navbar/navbar.html' %}
    {% include './Sidebar/Cosidebar.html'%}
    <div id="main">
      <!-- 展示房間 -->
      {% include './Sidebar/pages/viewer.html'%}
      <!-- 展示房間 -->
      <!-- 編輯地面 -->
      {% include './Sidebar/pages/Footplan.html'%}
      <!-- 編輯地面 -->
      <!-- 上傳模型 -->
      {% include './Sidebar/pages/AddItem.html'%}
      <!-- 上傳模型 -->
      <!-- itemInfo -->
      {% include './itemInfo/owner.html'%}
      <!-- flaskServer\templates\itemInfo\owner.html -->
      <!-- itemInfo -->
      
    </div>
  </body>
</html>