<!DOCTYPE html>
<html>
<style>
  .boxLeft {
    height: 40vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>

<head>
  <title>Room</title>

  <link href="./static/blueprint/css/bootstrap.css" rel="stylesheet">
  <link href="./static/blueprint/css/example.css" rel="stylesheet">
  <script src="./static/blueprint/node_modules/three/three.js"></script>
  <script src="./static/blueprint/js/three.min.js"></script>
  <script src="./static/blueprint/js/blueprint3d.js"></script>

  <script src="./static/blueprint/js/jquery.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script> -->
  <script src="./static/blueprint/js/bootstrap.js"></script>

  <script src="./static/blueprint/js/items.js"></script>
  <script src="./static/blueprint/js/example.js"></script>

  <script src="./static/blueprint/js/OBJLoader.js"></script>

  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet" />
</head>
<!-- doInit() at navbar.html-->

<body onload="doInit()">
  {% include './Navbar/navbar.html' %}
  {% include './Sidebar/Cosidebar.html'%}
  <div class="row main-row">
    <!-- left -->
    <div id="itemInfo" class="col-xs-2 boxLeft">
      <!-- Adjusting the model size & wall and floor select texture -->
      {% include './Sidebar/itemInfo.html'%}
      {% include './Sidebar/board.html' %}
    </div>
    <!-- right -->
    <div id="main" class="col-xs-12">
      <!-- 牆面和地板的材質選擇 -->
      {% include './Sidebar/textureSelect.html'%}
      <!-- 展示房間 -->
      {% include './Sidebar/pages/viewer.html'%}
      <!-- 編輯地面 -->
      {% include './Sidebar/pages/Footplan.html'%}
      <!-- 上傳模型 -->
      {% include './Sidebar/pages/AddItem.html'%}
    </div>
  </div>
</body>

</html>