<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
  integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/verification.css">
</head>

<body>
  <form id="myform" class="pure-form pure-form-stacked">
    <fieldset>
      <div class="pure-control-group">
        <canvas id="mycanvas" width='150' height='40'></canvas>
      </div>
      <div class="pure-control-group">
        <input id="myvad" type="text" name="vad" placeholder="請輸入驗證碼">
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">確認</button>
      </div>
    </fieldset>
  </form>
  <script src="../static/js/verification.js"></script>
</body>

</html>